<h1>About Me</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "chris.jpg", width: 250, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>I'm a software developer who focuses on creating functional web applications that are simple and well designed.</p>

    <p>While many other software developers create beautiful web apps, I find most of them are far too complex and not user friendly.</p>

    <p>I take a different road and choose to focus on creating web applications that are easy to use, well designed and functional.</p>
  </div>

</div>

