<h1>About Me</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "chris.jpg", width: 250, alt: "profile image" %>
    <p>Chris, Jessica and Luke</p>
  </div>

  <div class="col-md-8 text-left">
    <p>As a software developer who focuses on creating functional web applications, most of my clients are deligted with the end result. While others have the ability to create beautiful or "stunning" websites, I find most of them are far too complex and not friendly to the people who are interacting with them.</p>

    <p>I believe Jason Fried said it best:</p>

    <blockquote class="blockquote text-center font-italic text-secondary">"Simple" is a tricky word, it can mean a lot of things. To us, it just means clear. That doesn't always mean total reduction, or minimalism - somtimes, to make things clearer, you have to add a step.</blockquote>

    <p>My clients and I travel a different road together. We choose to focus on creating web apps that are easy to use, well designed and functional. Most importantly, they are simple.</p>
  </div>

</div>

